{% extends "ajax/soul/shell.html.twig" %}
{% block title %}{{'Die Zukunft'|trans({}, 'game')|raw}}{% endblock %}
{% block menu_text %}
    {{ parent() }}
{% endblock %}
{% block soul_content %}
    {% if selected is null %}
        COMING SOON
    {% else %}
    <div class="news">
        <div class="head">
            <div class="title center"><img alt="" src="{{ asset('build/images/log/build.gif') }}" /><span class="title-content">{{news[0].title}}</span><img src="{{ asset('build/images/log/build.gif') }}" /></div>
        </div>
        <div class="version">
            {{"Version"|trans({}, 'soul')}} {{selected.version}}
        </div>
        {% if news|length > 1 %}
        <div class="row">
            <div class="center version-list">
                <p><label for="change_version">{{'Hier findet ihr alle vorangegangenen Updates:'|trans({}, 'soul')}}</label></p>
                <select id="change_version">
                    {% for new in news %}
                        <option {% if selected.id == new.id %}selected="selected"{% endif%} value="{{ path('soul_news', {id: new.id}) }}">{{"Version"|trans({}, 'soul')}} {{new.version}} - {{new.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
        <div class="row forum-post">
            <div class="forum-post-content content" style="min-height: 155px;">
                {{selected.text|raw}}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block js %}
    {{parent()}}
    <script>
        $.html.addEventListenerAll('#change_version', 'change', function (e,elem) {
            $.ajax.load(null, elem.value);
        });
    </script>
{% endblock %}