.citizen-list {
	margin: 0; margin-left: 17px; margin-bottom: 5px;
	padding-left: 10px; border-left: 1px dashed #696486;
	li {
		font-size: 1.2rem; font-weight: bold;
		img {
			vertical-align: middle;
		}
	}
}

.town-row {
	font-size: 1.2rem;
}