ul {
    &.HelpList {
        padding: 0;
        font-size: 1.2rem;
        list-style-type: none;
        > li {
            font-weight: bold;
            &.main { font-variant: small-caps; }
        }
        li {
            list-style: none;
            border-top: 1px solid #7e4d2a;
            border-bottom: 1px solid #7e4d2a;
            &.main { margin-top: 10px; }
            &.active {
                background-color: #696486;
                border-color: #afacc1;
                &, & span.link { color: white; font-weight: bold; text-decoration: none; cursor: default; }
            }
            &.sublist > ul { padding-left: 30px; }
            img { vertical-align: -15%; }
        }
    }    
}

a {
    &.support {
        display: block;
        margin: 3px auto 10px auto;
        padding-left: 20px;
        padding-right: 7px;
        max-width: 180px;
        padding-bottom: 1px;
        text-align: left;
        color: #f0d79e;
        font-size: 1.4rem;
        font-weight: bold;
        font-variant: small-caps;
        text-decoration: none;
        border: 1px solid #85a3af;
        border-right-color: black;
        border-bottom-color: black;
        background-color: #32454d;
        background-image: url("../../img/item/item_medic.gif");
        background-position: 3px 1px;
        background-repeat: no-repeat;
        outline: 2px solid #5c2b20;
        em {
            display: block;
            font-size: 1.0rem !important;
            line-height: 9pt;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            color: #ddab76;
            text-align: left;
        }
        &:hover { color: white; outline: 1px solid #f0d79e; }
    }
}

.help-content {
    font-size: 1.3rem;
    text-align: justify;

    div.clear { clear: both; }

    span { color: #ddab76; font-weight: bold; text-decoration: underline; cursor: pointer; }

    label {
        display: block;
        font-weight: bold;
        font-variant: small-caps;
        border-top: 1px dashed #ddab76;
        strong {
            padding-left: 2px;
            padding-right: 5px;
            color: #f8eacb;
            background-color: #5c2b20;
            -moz-border-radius: 10px;
        }
    }

    .helpArt {
        max-width: 573px;
        margin-bottom: 8px;
        padding-top: 31px;
        padding-right: 5px;
        text-align: right;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        background: url("../../img/help/help.jpg") no-repeat right top;
        background-size: cover;
        border: 1px solid #b18a63;
        text-shadow: 0px 1px 0px #4d0f00, 0px -1px 0px #4d0f00, 1px 0px 0px #4d0f00, -1px 0px 0px #4d0f00, 1px 1px 0px #4d0f00, -1px -1px 0px #4d0f00, -1px 1px 0px #4d0f00, 1px -1px 0px #4d0f00;
    }

    .update {
        padding-top: 4px;
        padding-bottom: 6px;
        background-color: #5c2b20;
        padding-left: 3px;
        padding-right: 3px;
        margin: 2px 0px 5px 10px;
        border-top: 1px solid #ddab76;
        border-bottom: 1px solid #ddab76;
        &.new { 
                padding: 5px;
                padding-left: 25px;
                background-image: url("../../img/icons/small_news.gif");
                background-repeat: no-repeat;
                background-position: 5px 5px; 
            }
    }

    h1 {
        height: 32px;
        padding: 7px 0px 0px 48px;
        margin: 0px 0px 8px;
        color: #f0d79e;
        font-size: 1.4rem;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-image: url("../../img/help/h1.gif");
        background-repeat: no-repeat;
        clear: both;
    }

    h2 {
        height: 17px;
        padding: 0;
        margin: 15px 0 5px;
        color: #ddab76;
        font-size: 1.2rem;
        line-height: 17px;
        text-transform: uppercase;
        border-bottom: 2px solid #ddab76;
        background-image: url("../../img/help/h2.gif");
        background-repeat: repeat-x;
        background-position: left bottom;
        clear: both;
    }

    strong {
        color: #f0d79e;
    }

    em {
        color: #f0d79e;
        text-align: justify;
        display: block;
        font-size: 1.2rem;
        font-style: italic;
        line-height: 10.5pt;
    }

    i {
        color: #f0d79e;
        font-style: italic;
    }

    img {
        vertical-align: -15%;
        &.art {
            float: left;
            position: relative;
            margin: 5px 10px 10px 5px;
            border: 1px solid #ddab76;
            outline: 2px solid #5c2b20;
            &.artRight {
                float: right;
            }
        }
        &.pip {
            float: left;
            position: relative;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        &.artRight {
            float: right;
            margin-left: 10px;
            margin-right: 5px;
        }
    }

    ul {
        padding: 0 3px;
        margin: 2px 0 15px 10px;
        list-style: none none;
        border-top: 1px solid #ddab76;
        border-bottom: 1px solid #ddab76;
        &:not(.stack) {clear: both;}
        li {
            margin: 0;
            padding: 4px 5px 6px 20px;
            background-color: #5c2b20;
            background-image: url("../../img/icons/small_dot.gif");
            background-repeat: no-repeat;
            background-position: left -2px;
            border-top: 0px;
            border-bottom: 1px dashed #ddab76;
            &:last-child {
                border-bottom: 0;
            }
            i {
                color: #f0d79e;
                font-style: italic;
            }
            strong {
                font-variant: small-caps;
            }
        }
    }

    table {
        &.procons {
            width: 100%;
            th {text-align: center; font-size: 12pt; }
            td {width: 50%; vertical-align: top; }

        }
    }

    .warning, .critical {
        color: #f86;
        font-weight: bold;
    }

    p.ambiant, div.ambiant {
        padding: 5px 5px 5px 22px;
        margin-left: 40px;
        margin-right: 10px;
        margin-bottom: 10px;
        color: #ddab76;
        font-style: italic;
        text-align: justify;
        background-image: url("../../img/icons/small_rp.gif");
        background-repeat: no-repeat;
        background-position: 0px 5px;
    }
    div.warning, div.critical {
        margin-top: 5px;
        padding: 5px;
        font-variant: small-caps;
        background-color: #5c2b20;
        border: 1px solid #f0d79e;
        outline: 1px solid #5c2b20;
    }
    p.help, div.help {
        padding: 5px;
        padding-left: 25px;
        background-image: url("../../img/icons/small_help.gif");
        background-repeat: no-repeat;
        background-position: 5px 5px;
        background-color: #524053;
        border: 1px solid #ddab76;
        -moz-border-radius: 10px;
    }
    div.critical { margin-bottom: 10px; }
    dl {
        &.faq { 
            dt {
                padding-left:24px;
                background-image: url('../../img/icons/small_help.gif'); background-repeat: no-repeat; background-position: 2px 2px;
            }    
        }
        dt, dd {
            color: #e3c699;
            min-height: 21px;
            border-bottom: 1px solid #b37c4a;
            margin-bottom: 1px;
            padding-right: 10px;
        }
        dt {
            display: block;
            clear: both;
            position: relative;
            margin-right: 5px;
            padding-left: 5px;
            color: white;
            font-weight: bold;
            background-color: #b37c4a;
            -moz-border-radius-topleft: 10px;
            min-width: 17rem;
            height: auto;
            padding-top: 2px;
            font-size: 10pt;
            font-style: italic;
            line-height: 10.5pt;
            -moz-border-radius-topright: 10px;
        }
        dd {
            margin-bottom: 10px;
            margin-left: 0px;
            padding-left: 10px;
            color: #f0d79e;
            background-color: #996739;
            em {
                margin-top: 5px;
                margin-left: 10px;
                margin-bottom: 4px;
            }
        }
        em { color: #f8eacb; }
    }
}
