{% extends "ajax/help/shell.html.twig" %}
{% block title %}{{'Hilfe'|trans({}, 'game')}} - {{'Externe Webseiten und Anwendungen'|trans({}, 'help')|raw}}{% endblock %}
{% block helpContent %}
<div class="helpArt">{{ 'Spielanleitung'|trans({},'help')|raw }}</div>
<h1>{{ 'Externe Webseiten und Anwendungen'|trans({},'help')|raw }}</h1>
<p class="help">
{{ 'MyHordes bietet Entwicklern zusätzliche Informationen in Form von JSON- und XML-Feeds, die für die Erstellung zusätzlicher Anwendungen und anderer neuartiger Funktionen auf Basis des Spiels verwendet werden können.'|trans({},'help')|raw }}
</p>
<p>
{{ 'Im Folgenden findet ihr weitere Informationen zur Konzeption und Funktion von Externen Anwendungen.'|trans({},'help')|raw }}
<br>
{{ 'Wenn ihr eine Anwendung entwickelt, muss diese sich an den APIs orientieren, die durch unser Spiel zur Verfügung gestellt werden. Um dich über alle Elemente zu informieren, zu denen wir dir Zugang geben, kannst du die folgenden Adressen besuchen:'|trans({},'help')|raw }}
</p><ul>
<li>API XML : DOCS COMING SOON</li>
<li>API JSON : <span x-ajax-href="{{ url('docs') }}">{{ url('docs') }}</span></li>
</ul>
{{ 'Beide APIs bieten Zugang zu unterschiedlichen Informationen. Du musst für dich selbst entscheiden, welche APIs du benötigst, um die richtigen Informationen zu erhalten. Das ist eigentlich ganz einfach, denn mit jedem Token können Sie auf beide APIs zugreifen.'|trans({},'help')|raw }}
<h2>{{ 'Nutzungsbedingungen'|trans({},'help')|raw }}</h2>
<ul>
<li>
{{ '<strong>Keinesfalls</strong> darfst du MyHordes-Spieler auf deiner Seite nach ihren MyHordes-Zugangsdaten fragen.'|trans({},'help')|raw }}
</li>
<li>
{{ 'Du musst klar erkennbar machen, dass deine Seite nicht offiziell zu MyHordes gehört.'|trans({},'help')|raw }}
</li>
<li>
{{ 'Es muss für Nutzer jederzeit anhand des Seitendesigns klar erkennbar sein, dass sie sich nicht auf einer Unterseite von MyHordes befinden: das Design deiner Seite muss sich also deutlich von MyHordes unterscheiden.'|trans({},'help')|raw }}
</li>
<li>
{{ 'Du darfst keine <strong>automatischen Skripte zum regelmäßigen Datenabgleich</strong> mit der API verwenden (Cron, automatisierte Tasks...),'|trans({},'help')|raw }}
</li>
<li>
{{ 'Verwendest du Grafiken oder sonstige Inhalte von MyHordes, musst du auf die Quelle sowie die entsprechenden Rechte des Autors / Künstlers verweisten.'|trans({},'help')|raw }}
</li>
</ul>
<div class="clear"></div>
{% endblock %}